body {
  background-image: url('./sticky-notes.jpg');
  background-size: 100% 100%;
  overflow: hidden;
  overflow-y: auto;
}

div {
  overflow: hidden;
}

.container {
  height: 100%;
  /* border-radius: 25px; */
  overflow: hidden;
}

.intro{
  border-radius: 0px;
}

.jumbotron {
  background-image: url('./words-to-live-by.jpg');
  background-size: 100% 100%;
  overflow: hidden;
  border-radius: 0px;
}

.fa-sticky-note{
  margin: 5px;
  font-size: 30px;
}

.card-header{
  border-bottom-style: hidden;
}

.card-text p, .card-text p i{
  margin: 2px;
}

.card:nth-child(odd){
  background: #0E3B5C;
}

.card:nth-child(even) {
  background: #881E06;
}

.card:first-child{
  background: #37482E;
}

.card:last-child{
  background: #390842;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  /* color: red; */
}